/* CSS Selector = body */
body {
  /* CSS Declaration = {} */
  /* CSS Rule = property:value;*/
  /* CSS Property = background-color */
  /* CSS Value = red */
  margin: 0px; /* Ingen mellomrom mellom skjerm kant */
}

.header {
  background-color: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
}

/* Bruker element-navn fordi jeg vil det skal gjelde på alle selector-element */
section {
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: row; /* Kommer autmatisk. Kun for visuel tyding */
  align-items: center;
  justify-content: center;
  gap: 25px;
}

/* Bruker element-navn fordi det kun er et bilde på denne siden. Ved flere bilder bruk klasse-navn */
img {
  height: 300px;
  width: 300px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navList {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style-type: none;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.favoriteLists {
  display: flex;
  gap: 16px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}